body{
    background-color:rgba(15, 15, 15, 0.658);
    font-family: 'Monserrat', sans-serif;
    line-height: 1.6;
    font-size: 15px;
    color: rgb(255, 255, 255);
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
* {
    box-sizing: border-box ;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 200px;

}
body {
    background: url(../images/загружено.jfif);
}
.intro {
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 50px;
    color: pink;
}
.suction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.reg-btn {
    margin:20px 0;
    padding: 100px 100px;
    background-color: deeppink;
    font-weight: 900;
    font-size: 50px;
}
.reg-btn:hover {
    transform: scale(1.01)
}
.video-container {
    display: none;
}

.header_logo{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-align: left;
}
.nav{
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}
.nav_link{
    color: rgb(168, 214, 40);
    text-decoration: none;
    transition: color .2s linear;
}

.nav_link:hover{
    color: #fce38a;
}

#myVideo {
    min-width: 360px;
    min-height: 360px;
}

/* Add some content at the bottom of the video/page */


/* Style the button used to pause/play the video */
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}


